package dashboard

templ Dashboard() {
    <div class="container mx-auto">
    <h3>Dashboard</h3>
    <a class='btn btn-sm' id="addDomain">Add Domain</a>
        <div class="flex flex-col place-items-center">
        </div>
    </div>
}
