# Ignore all, then unignore some
/**

!go.mod
!go.sum
!LICENSE
!pnpm-lock.yaml
!package.json
!tailwind.config.js
!/cmd
!/configuration
!/handlers
!/service
!/views

!/assets/
/assets/css/tailwind.css
/assets/js/*.min.js
