<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="google" content="notranslate" />
        <link rel="shortcut icon" href="/img/templ.png" type="image/png" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/css/tailwind.css" />
        <title>Domain Monitor | Error (500)</title>
    </head>

    <body>
        <main>
            <section
                class="flex h-[100vh] flex-col items-center justify-center gap-4"
            >
                <div class="flex flex-col items-center justify-center gap-4">
                    <h1
                        class="text-9xl font-extrabold tracking-widest text-gray-700"
                    >
                        500
                    </h1>
                    <h2
                        class="absolute rotate-[20deg] rounded bg-rose-700 px-2 text-sm"
                    >
                        Internal Server Error
                    </h2>
                </div>
                <p class="text-center text-xs text-gray-400 md:text-sm">
                    An unexpected condition was encountered.
                </p>
            </section>
        </main>
    </body>
</html>
