<!--    Footer, set static with main.css -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="d-flex">
      <div class="mr-1">
        <i class="bi bi-terminal-fill"></i>
      </div>
      <div id="last-message" class="flex-grow-1"></div>
      <div>
        <a class="btn btn-sm btn-link" href="#" id="btnShowFullLog">Client Log</a>
      </div>
    </div>
    <p class="text-muted mb-0">
      Source on
      <a href="https://github.com/nwesterhausen/domain-monitor">GitHub</a>.
    </p>
  </div>
</footer>
