<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand"> Domain Monitor </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="dashboard-tab"
            data-bs-toggle="tab"
            type="button"
            data-bs-target="#dashboard"
          >
            Dashboard
          </button>
          <button class="nav-link" id="config-tab" data-bs-toggle="tab" type="button" data-bs-target="#config">
            <i class="bi bi-sliders"></i>
            Configuration
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
