<!--    Edit Domain Modal-->
<div class="modal fade" tabindex="-1" id="editDomainModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalDomainTitle" class="modal-title">Edit Domain</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="mb-3">
            <label for="modalDomainName" class="form-label">Name</label>
            <input type="text" class="form-control" id="modalDomainName" aria-describedby="modalDomainNameHelp" />
            <div id="modalDomainNameHelp" class="form-text">A shortname or description for the domain.</div>
          </div>
          <div class="mb-3">
            <label for="modalDomainFqdn" class="form-label">Domain Name</label>
            <input type="text" class="form-control" id="modalDomainFqdn" aria-describedby="modalDomainFqdnHelp" />
            <div id="modalDomainFqdnHelp" class="form-text">FQDN for the domain to watch.</div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="modalDomainAlert" />
            <label class="form-check-label" for="modalDomainAlert">Alert on Changes</label>
            <div id="modalDomainAlertHelp" class="form-text">
              Uncheck this to prevent this domain from generating alerts.
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="modalDomainEnabled" />
            <label class="form-check-label" for="modalDomainEnabled">Enable WHOIS Lookups</label>
            <div id="modalDomainEnabledHelp" class="form-text">
              Uncheck this to prevent WHOIS queries for this domain.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="modalDomainBtnDelete" type="button" class="btn btn-danger">Delete Domain</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="modalDomainBtnCommit" type="button" class="btn btn-primary">Commit Changes</button>
      </div>
    </div>
  </div>
</div>
