<!--    Log Modal-->
<div class="modal fade" tabindex="-2" id="socketLogModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Communication Logs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Ephemeral logs from this session with the webgui. Copies of the data sent/received are logged with the
          messages to the developer console (typically <kbd>F12</kbd> to open)
        </p>
        <div class="log-div">
          <ul class="list-group" id="modalLogMessageList"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
