footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: #ccc 1px solid;
}

footer p {
  text-align: center;
}

.log-div {
  overflow-y: scroll;
  height: 20em;
}

#config {
  margin-bottom: 15%;
}
