<div role="tabpanel" id="dashboard" class="tab-pane fade show active">
  <div id="dashContent" class="d-flex flex-wrap">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <span class="ml-1" id="status-message">Waiting for data from server.</span>
      </div>
    </div>
  </div>
</div>
