name: Test Build Go Project
on:
  push:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.1
      - name: Install templ and run templ generate
        run: |
          go install github.com/a-h/templ/cmd/templ@latest
          templ generate
      - name: Build
        run: go build -v ./cmd/main.go
